<section class="container">
  <div class="flex-col items-center">
    <h1 class="text-center">Tired of inefficient Beekeeping Softwares?</h1>
    <p class="hero-center__subtitle text-center">
      Join users who made beehive management easy with our beekeeping software.
    </p>
    <div class="hero-center__actions text-center" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <app-link [routerLink]="'/auth/login'" variant="primary" size="md">Get Started</app-link>
      <app-link [routerLink]="'/pages/contact-us'" variant="outline" size="md">Need a consultation? »</app-link>
    </div>
    <div class="hero-center__image" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
      <app-image [alt]="'Bee'" [width]="473" [height]="473" [src]="'assets/img/bee2.webp'"></app-image>
    </div>
  </div>
</section>
