<section class="regist">
  <div class="container">
    <div class="row">
      <div class="col-md-12 whit">
        <h6 class="h2">What are you waiting for?</h6>
        <h6 class="h4 margpt col-md-7">That's right, what are you waiting for?&nbsp;<br> The only thing left to
          do is to register and download BeehiveMind App today!</h6>
      </div>
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <a href="/auth/register" type="button" class="btn btn-outline-primary btn-rounded waves-effect whit">Get
        Started</a></div>
  </div>
</section>
