@if (isBrowser) {
  <apx-chart
    [series]="mergedOptions().series!"
    [chart]="mergedOptions().chart!"
    [xaxis]="mergedOptions().xaxis!"
    [yaxis]="mergedOptions().yaxis!"
    [title]="mergedOptions().title!"
    [labels]="mergedOptions().labels!"
    [legend]="mergedOptions().legend!"
    [dataLabels]="mergedOptions().dataLabels!"
    [colors]="mergedOptions().colors!"
    [tooltip]="mergedOptions().tooltip!"
    [plotOptions]="mergedOptions().plotOptions!"
    [stroke]="mergedOptions().stroke!"
    [fill]="mergedOptions().fill!"
    [grid]="mergedOptions().grid!"
    [responsive]="mergedOptions().responsive!"
  />
}
