@if (loading()) {
  <div class="apex-skeleton" [style.height]="skeletonHeight()"></div>
} @else if (isBrowser && mergedOptions(); as opts) {
  <apx-chart
    [series]="opts.series!"
    [chart]="opts.chart!"
    [xaxis]="opts.xaxis!"
    [yaxis]="opts.yaxis!"
    [title]="opts.title!"
    [labels]="opts.labels!"
    [legend]="opts.legend!"
    [dataLabels]="opts.dataLabels!"
    [colors]="opts.colors!"
    [tooltip]="opts.tooltip!"
    [plotOptions]="opts.plotOptions!"
    [stroke]="opts.stroke!"
    [fill]="opts.fill!"
    [grid]="opts.grid!"
    [responsive]="opts.responsive!"
  />
} @else {
  <div class="apex-empty" [style.height]="skeletonHeight()">
    <span>{{ emptyMessage() }}</span>
  </div>
}
