<section class="tabistg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center margp">New era on beekeeping!</h2>
        <div class="col-md-5 margauto" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
          <img src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        </div>
        <h3 class="text-center margpt">Meet our beekeeping app now!</h3>

        <div class="row" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
          <div class="margla">
            <a href="https://play.google.com/store/apps/details?id=org.beehivemindR" target="_blank">
              <img src="assets/img/android.svg" alt="Android" width="160" height="48">
            </a>
          </div>
          <div class="margra">
            <a href="https://play.google.com/store/apps/details?id=org.beehivemindR" target="_blank">
              <img src="assets/img/Apple.svg" alt="Apple" width="160" height="48">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
