<section class="tabist">
  <div class="container">
    <div class="row margp">
      <div class="col-md-12">
        <h2 class="text-center">With our beekeeping software you have all the variables you need to work</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">Inspection's date</h3>
        <h5 class="text-justify">Note the right date that you inspected your apiaries and explore their growth in a long
          run. After some inspections a complete graph will be available for you. With this you will have an overview
          about your apiary.</h5>
      </div>
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">Closed brood & eggs</h3>
        <h5 class="text-justify">Use the variables closed brood and eggs separately and gain the advantage of being able
          to predict the development of the hive in the near future. Furthermore you will be able to know details about
          the queen's condition.</h5>
      </div>
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">pollen & honey</h3>
        <h5 class="text-justify">Mention the amounts of pollen and honey you find during the inspe&shy;ctions. In this
          way you will easily be able to find the apiaries or hives which need help or those ready for harvest.</h5>
      </div>
    </div>
  </div>
  <div class="container margtp">
    <div class="row">
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">Frames & Population</h3>
        <h5 class="text-justify">By using the variables frames and population right, you can be any time aware as to
          whether your hives need frame addition or removal.</h5>
      </div>
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">Diseases</h3>
        <h5 class="text-justify">Keep notes on the diseases you find in each hive and get rid of them immediately by
          using the genetic material you have at your disposal.</h5>
      </div>
      <div class="col-md-4 margt"><img class="imgo" src="assets/img/logotr.webp" alt="Logo" width="512" height="512">
        <h3 class="text-center margop">Info about queen</h3>
        <h5 class="text-justify">Every time you see the queen give the right voice command and you will be able to
          know when was the last time that the hive was prosperous.</h5>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
    <div class="row justify-content-center">
      <a href="https://beehivemind.freshdesk.com/support/home" type="button"
         class="btn btn-primary btn-rounded waves-effect" target="_blank">Explore the docs</a>
    </div>
  </div>
</section>
