<div class="flex-col">
  <h2 class="text-center">{{ title() }}</h2>
  <div class="features-list-cta__grid">
    @for (item of items(); track item.title) {
      <div class="features-list-cta__item">
        <app-image [src]="item.img.src" [alt]="item.img.alt" [width]="item.img.width" [height]="item.img.height" />
        <h3 class="text-center">{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    }
  </div>

  <div class="text-center">
    @if (external()) {
      <a [href]="ctaHref()" target="_blank" rel="noopener noreferrer" class="btn btn--primary btn--md">{{ ctaLabel() }}</a>
    } @else {
      <a [routerLink]="ctaHref()" class="btn btn--primary btn--md">{{ ctaLabel() }}</a>
    }
  </div>
</div>
