<app-modal-shell title="Add Apiary" (close)="cancel()">

  <div class="add-apiary">

    @if (error()) {
      <p class="add-apiary__error">{{ error() }}</p>
    }

    <div class="add-apiary__form">
      <div class="add-apiary__field">
        <label class="add-apiary__label">Name *</label>
        <input class="add-apiary__input" [(ngModel)]="name" placeholder="Apiary name" />
      </div>
      <div class="add-apiary__field">
        <label class="add-apiary__label">Hives</label>
        <input class="add-apiary__input add-apiary__input--sm" type="number" min="0" [(ngModel)]="hivesNumber" placeholder="0" />
      </div>
    </div>

    <p class="add-apiary__hint">
      📍 Click on the map to set location
      @if (markerPosition) {
        <span class="add-apiary__coords">
          {{ markerPosition.lat | number:'1.4-4' }}, {{ markerPosition.lng | number:'1.4-4' }}
        </span>
      }
    </p>

    <div class="add-apiary__map">
      <app-map-picker [marker]="markerPosition" (markerChange)="onMarkerChange($event)" />
    </div>

  </div>

  <ng-template #footer>
    <button class="add-apiary__btn add-apiary__btn--ghost" (click)="cancel()">Cancel</button>
    <button class="add-apiary__btn add-apiary__btn--primary" (click)="save()">Save</button>
  </ng-template>

</app-modal-shell>
