.info-columns {
  &--light {
    background-color: #f3f3f3;
  }

  &__title {
    font-size: 56px;
    letter-spacing: -2px;
    font-weight: 500 !important;

  }

  &__item {

    &--title {

    }

    &--description {

    }
  }

}
