<section class="botft">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margd">
        <h6 class="h2 font-weight-bold text-center">Trusted partner</h6>
      </div>
    </div>
  </div>

  <div class="col-md-12 margpt">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 margauto">
<!--        TODO  AUTA NA MIN EINAI H-TAGS.. NA GINOUN P 'H STRONG-->
          <h2 class="text-center margop">1.000+</h2>
          <h4 class="text-center">Customers</h4>
        </div>
        <div class="col-md-4 margauto">
          <!--        TODO  AUTA NA MIN EINAI H-TAGS.. NA GINOUN P 'H STRONG-->

          <h2 class="text-center margop">10.000+</h2>
          <h4 class="text-center">Social followers</h4>
        </div>
        <div class="col-md-4 margauto">
          <!--        TODO  AUTA NA MIN EINAI H-TAGS.. NA GINOUN P 'H STRONG-->
          <h2 class="text-center margop">3 years</h2>
          <h4 class="text-center">Online</h4>
        </div>
      </div>
    </div>
  </div>
</section>
