<div class="form-group">
  @if (label) {
    <label class="form-label">{{ label }}{{ isRequired ? ' *' : '' }}</label>
  }
  @if (options) {
    <div [formGroup]="form">
      <select
        formControlName="select"
        class="form-control"
        [multiple]="isMultiple"
        [class.multiple-select]="isMultiple"
        [class.invalid]="isFieldValid()"
      >
        @for (opt of options; track opt.returnValue) {
          <option [value]="opt.returnValue">{{ opt.displayValue }}</option>
        }
      </select>
    </div>
  }
  <app-form-errors
    [errors]="saFormControlName?.valid === false && saFormControlName?.touched ? (saFormControlName?.control?.errors ?? null) : null"
  />
</div>
