<section class="container">
  <div class="flex-col md:flex-row justify-center">
    <div class="w-full md:w-1/2" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
      <app-image
        [src]="image().src"
        [alt]="image().alt"
        [width]="image().width"
        [height]="image().height"
        [priority]="image().priority ?? false" />
    </div>
    <div class="w-full md:w-1/2 self-center">
      <h2>{{ title() }}</h2>
      <h4 class="text-justify">{{ description() }}</h4>
    </div>
  </div>
</section>
