<section class="container">
  <div class="flex-col md:flex-row  justify-center">
    <div class="w-full md:w-1/2" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
      <app-image [alt]="'Flower'" [width]="473" [height]="473" [src]="'assets/img/flower.webp'"></app-image>
    </div>
    <div class="w-full md:w-1/2 self-center">
      <h2>Best-in-class voice controlled beekeeping app</h2>
      <h4 class="text-justify">Every bee&shy;kee&shy;per pur&shy;su&shy;es u&shy;si&shy;ng the be&shy;st bee&shy;kee&shy;pi&shy;ng
        A&shy;pps; Bee&shy;hi&shy;ve&shy;mind App ma&shy;kes your a&shy;pi&shy;a&shy;ri&shy;es stand out from the
        rest. Dis&shy;co&shy;ver the fea&shy;tu&shy;res of our bee&shy;kee&shy;ping App and let the re&shy;co&shy;rd
        be&shy;gin.</h4>
    </div>
  </div>
</section>
