<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center margd margp">Personalize your financial profile</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 align-self-center margauto">
        <h4 class="text-center margp">Set cost categories adding their name, description and type. Then use our
          financial tool to insert your business costs including cost category and amount.</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7 col-lg-5 col-xl-4" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
        <img class="img-fluid" src="assets/img/financial.gif" alt="Financial" width="477" height="213">
      </div>
    </div>
  </div>
</section>
