<section class="container margd">

  <div class="row">
    <div class="col-md-6 rightp">
      <h2>Turn inspections into knowledge</h2>
      <img class="imga" data-aos="zoom-in" data-aos-anchor-placement="center-bottom" src="assets/img/bee1.webp" alt="Bee" width="417" height="221">
    </div>

    <div class="col-md-6">

      <div role="tablist" id="accordion-1">
        <div class="card">
          <div class="card-header" role="tab">
            <h3 class="mb-0">
              <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1"
                 href="div#accordion-1 .item-1" class="colbl">Know your bees right now
                <a style="color:#ec861f;" href="javascript:;">»</a>
              </a>
            </h3>
          </div>
          <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
            <div class="card-body">
              <h5 class="card-text text-justify">Do you know your bees? U&shy;se our a&shy;dva&shy;nced to&shy;ols
                to u&shy;nder&shy;sta&shy;nd your bee&shy;hi&shy;ves' gro&shy;wth, de&shy;cre&shy;a&shy;se bee co&shy;lo&shy;ni&shy;es
                mo&shy;rta&shy;li&shy;ty ra&shy;te and pro&shy;mo&shy;te the ge&shy;ne&shy;tic i&shy;mpro&shy;ve&shy;ment
                of your bee stocks.</h5>
              <a class="colport" href="/features">Explore the features we offer »</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h3 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2"
                                href="div#accordion-1 .item-2" class="colbl">Unified beekeeping mangement <a
              style="color:#ec861f;" href="javascript:;">»</a></a></h3>
          </div>
          <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
            <div class="card-body">
              <h5 class="card-text text-justify">Get the mo&shy;st out of bee&shy;kee&shy;pi&shy;ng u&shy;si&shy;ng
                our voi&shy;ce re&shy;co&shy;gni&shy;ti&shy;on bee&shy;hi&shy;ve ma&shy;na&shy;ge&shy;me&shy;nt sy&shy;stem.
                In this wa&shy;y you can co&shy;ntri&shy;bu&shy;te to su&shy;sta&shy;ina&shy;ble bee&shy;kee&shy;pi&shy;ng
                for a bet&shy;ter world.</h5>
              <a class="colport" href="/features">Explore the features we offer »</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h3 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3"
                                href="div#accordion-1 .item-3" class="colbl">Efficient financial management <a
              style="color:#ec861f;" href="javascript:;">»</a></a></h3>
          </div>
          <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
            <div class="card-body">
              <h5 class="card-text text-justify">Bee&shy;hi&shy;ve&shy;mi&shy;nd ma&shy;kes the fi&shy;na&shy;nci&shy;al
                ma&shy;na&shy;ge&shy;me&shy;nt of your bee&shy;kee&shy;pi&shy;ng bu&shy;si&shy;ness e&shy;ffi&shy;ci&shy;ent.
                Ma&shy;na&shy;ge your bu&shy;si&shy;ness co&shy;sts mo&shy;re e&shy;ffi&shy;ci&shy;e&shy;nt&shy;ly
                throu&shy;gh our fi&shy;na&shy;nci&shy;al ma&shy;na&shy;ge&shy;me&shy;nt sy&shy;stem and grow up
                whi&shy;le re&shy;du&shy;ci&shy;ng your o&shy;ve&shy;rall work&shy;load.</h5>
              <a class="colport" href="/financial">Explore the financial mode »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="rowc margpp">
</section>
